<!DOCTYPE html>
<html lang="en">
  <th:block th:include="fragments/fragments :: head(title='Delete Advertisement Page', includeMDB=true)"></th:block>
  <body>
    <th:block th:include="fragments/fragments :: header"></th:block>
    <div class="container" style="height: 82.5vh; padding-top: 48px;">
      <div class="row">
        <div class="col">
          <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4">
            <ol class="breadcrumb mb-0">
              <li class="breadcrumb-item"><a th:href="@{/profile}">Profile</a></li>
              <li class="breadcrumb-item active" aria-current="page">Delete advertisement</li>
            </ol>
          </nav>
        </div>
      </div>
      <div class="alert alert-danger" role="alert" style="display: flex; flex-direction: row; justify-content: flex-start; align-items: center;">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclamation-triangle-fill" viewBox="0 0 16 16">
          <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
        </svg>&nbsp;
        <strong>Note:</strong>&nbsp;This action is permanent and there is no way to undo it!
      </div>
      <div class="mb-4 mb-lg-0">
        <form th:action="@{/advertisements/delete/{id}(id=${advertisementId})}" method="POST">
          <button class="btn btn-danger" type="submit"><i class="fa-solid fa-triangle-exclamation"></i> Delete advertisement</button>
        </form>
      </div>
    </div>
    <th:block th:include="fragments/fragments :: footer"></th:block>
  </body>
</html>