<!DOCTYPE html>
<html lang="en">
    <th:block th:include="fragments/fragments :: head(title='Real Estates Page', includeMDB=true)"></th:block>
    <body>
        <th:block th:include="fragments/fragments :: header"></th:block>
        <div class="container">
            <h2 style="margin-top: 50px">Advertisements</h2>
            <ol class="breadcrumb">
                <li class="breadcrumb-item active" aria-current="page">Advertisements</li>
            </ol>
        </div>
        <div class="container realEstatesGrid">
            <div th:if="${advertisements.size() == 0}">
                <h3>There are no advertisements for given search parameters.</h3>
            </div>
            <th:block th:each="advertisement : ${advertisements}" th:include="fragments/fragments :: card(converter=${converter}, hashCreator=${hashCreator}, advertisement=${advertisement}, profilePage=false, user=${user})"></th:block>
        </div>
        <th:block th:include="fragments/fragments :: footer"></th:block>
    </body>
</html>