<!DOCTYPE html>
<html lang="en">
    <th:block th:include="fragments/fragments :: head(title='Home page')"></th:block>
    <body>
        <th:block th:include="fragments/fragments :: header"></th:block>
        <div class="container welcomeContent">
            <h1>Welcome to our home page!</h1>
            <p>We are happy to see you!</p>
        </div>
        <button type="button" class="btn btn-primary" id="liveToastBtn">Show live toast</button>

        <div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header">
                <img src="..." class="rounded me-2" alt="...">
                <strong class="me-auto">Bootstrap</strong>
                <small class="text-muted">11 mins ago</small>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body">
                Hello, world! This is a toast message.
            </div>
        </div>
        <th:block th:include="fragments/fragments :: footer"></th:block>
    </body>
</html>