<!DOCTYPE html>
<html lang="en">
    <th:block th:include="fragments/fragments :: head(title='Sign Up Page', includeMDB=true)"></th:block>
    <body>
        <th:block th:include="fragments/fragments :: header"></th:block>
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col col-xl-10">
                    <div class="card" style="border-radius: 1rem;">
                        <div class="row g-0">
                            <div class="col-md-6 col-lg-5 d-none d-md-block">
                                <img th:src="@{/img/test.jpg}"
                                     alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem;" />
                            </div>
                            <div class="col-md-6 col-lg-7 d-flex align-items-center">
                                <div class="card-body p-4 p-lg-5 text-black">
                                    <form th:action="@{/signup}" method="POST" th:object="${userForm}">
                                        <div class="d-flex align-items-center mb-3 pb-1">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="#212529" class="bi bi-house-heart-fill" viewBox="0 0 16 16">
                                                <path d="M7.293 1.5a1 1 0 0 1 1.414 0L11 3.793V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v3.293l2.354 2.353a.5.5 0 0 1-.708.707L8 2.207 1.354 8.853a.5.5 0 1 1-.708-.707L7.293 1.5Z"/>
                                                <path d="m14 9.293-6-6-6 6V13.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V9.293Zm-6-.811c1.664-1.673 5.825 1.254 0 5.018-5.825-3.764-1.664-6.691 0-5.018Z"/>
                                            </svg>&nbsp;
                                            <span class="h1 fw-bold mb-0">My Home</span>
                                        </div>

                                        <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Sign up to get started!</h5>

                                        <div th:if="${emailError}" class="alert alert-danger" role="alert">
                                            User with the email provided already exists!
                                        </div>
                                        <div th:if="${passwordError}" class="alert alert-danger" role="alert">
                                            Password and repeated password do not match!
                                        </div>

                                        <input type="hidden" th:name="avatar" value="ava1">

                                        <div class="form-outline mb-4">
                                            <input type="text" th:field="*{firstName}" id="form2Example27" class="form-control form-control-lg" />
                                            <label class="form-label" for="form2Example27">First name</label>
                                        </div>
                                        <div class="form-outline mb-4">
                                            <input type="text" th:field="*{lastName}" id="form2Example37" class="form-control form-control-lg" />
                                            <label class="form-label" for="form2Example37">Last name</label>
                                        </div>
                                        <div id="dialCode" class="form-outline mb-4">
                                            <label class="form-label" for="phone">Phone number</label><br/>
                                            <input type="text" th:field="*{phoneNumber}" id="phone" class="form-control form-control-lg" />
                                        </div>
                                        <div class="form-outline mb-4">
                                            <input type="email" th:field="*{emailAddress}" id="form2Example17" class="form-control form-control-lg" />
                                            <label class="form-label" for="form2Example17">Email address</label>
                                        </div>
                                        <div class="form-outline mb-4">
                                            <input type="password" th:field="*{password}" id="form2Example57" class="form-control form-control-lg" />
                                            <label class="form-label" for="form2Example57">Password</label>
                                        </div>
                                        <div class="form-outline mb-4">
                                            <input type="password" th:field="*{repeatPassword}" id="form2Example67" class="form-control form-control-lg" />
                                            <label class="form-label" for="form2Example67">Repeat password</label>
                                        </div>

                                        <div class="pt-1 mb-4">
                                            <button class="btn btn-dark btn-lg btn-block" type="submit">Sign up</button>
                                        </div>
                                        <p class="mb-5 pb-lg-2" style="color: #393f81;">Already have a profile?
                                            <a th:href="@{/signin}" style="color: #393f81;">Sign in here</a>
                                        </p>
                                        <a href="#" class="small text-muted">Terms of use</a>
                                        &nbsp;|&nbsp;
                                        <a href="#" class="small text-muted">Privacy policy</a>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <th:block th:include="fragments/fragments :: footer"></th:block>
    </body>
</html>